@model IEnumerable<WebApplication1.Models.Partida>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conocimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conocimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartida">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartida">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartida">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
